{
    "prefix":"o!",
    "version":"",
    "botToken":"",
    "botOwnerID":"",
    "spotifyClientId":"",
    "spotifyClientSecret":"",
    "mongoIP":"",
    "mongoPort":"",
    "mongoDatabase":"",
    "informChannel":"",
    "geniusToken":"",
    "youtubeCookie":"",
    "identityToken":""
}
